<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD POWERING</title>
</head>
<body>
  <h1>CRUD POWERING</h1>

  <div>
    <h2>Seleziona un'opzione:</h2>
    <a href="/filiali">
      <button>GESTIONE FILIALI</button>
    </a>
    <a href="/automezzi">
      <button>GESTIONE AUTOMEZZI</button>
    </a>
    <a href="/api/filiali">
        <button>JSON FILIALI</button>
    </a>
    <a href="/api/automezzi">
        <button>JSON AUTOMEZZI</button>
    </a>
  </div>
</body>
</html>